@import "../../styles/globalVariables";


.card {
  width: 23%;
  height: 392px;
  border: 1px solid #8a8a8a;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breackpoint(md){
    width: 48%;
  }
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
    @include breackpoint(md){
      height: 250px;
    }
  }
  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
    @include breackpoint(md){
      font-size: 12px;
      line-height: 20px;
    }
  }
  a {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #0097DB;
    border-radius: 7px;
    padding:  10px 0;
    transition: .3s ease-in-out;
    margin-top: 15px;
    &:hover{
      background: #0097DB;
      color: white;
    }
    @include breackpoint(md){
      color: #0097DB;
    }
  }
  .text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
  }
}
