@media (max-width: 776px) {
  .wrapper {
    display: none !important;
  }
  .adaptive {
    display: flex;
  }
  .about {
    display: none !important;
  }
}
@media (min-width: 776px) {
  .wrapper {
    display: block;
  }
  .adaptive {
    display: none !important;
  }
  .aboutAd {
    display: none !important;
  }
}

.wrapper {
  margin-bottom: 70px;
}

.consultation {
  position: relative;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ratinov-clinic-401b0.appspot.com/o/images%2Fbg1.png?alt=media&token=9bc52d61-a252-4395-a8b4-51d250eda9a8");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.wrap {
  position: relative;
  padding: 40px 0;
}

.b {
  font-weight: 700 !important;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.consul_des {
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.btn {
  border: 1px solid #ffffff;
  border-radius: 7px;
  padding: 17px 110px;
  background: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  &:hover {
    background: white;
    color: #0097db;
  }
}

// about

.about {
  display: flex;
  flex-direction: column;
  grid-gap: 3em;
  h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    margin-bottom: -10px;
  }

  .about_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .card {
      text-align: center;
      grid-gap: 1.5em;
      width: 31%;
      text-align: center;
      img {
        width: fit-content;
        height: 40px;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #636363;

      .line {
        width: 80%;
        height: 1px;
        background: #d0d0d0;
        margin: 10px auto;
      }
      h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0097db;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17px;
      }
    }
    img {
      width: 70px;
      height: 70px;
    }
  }
}
.aboutAd {
  padding: 24px;
  h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
  }
  .about_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .card {
      margin-top: 30px;
      h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0097db;
        margin-top: 15px;
      }
      .line {
        width: 100%;
        height: 1px;
        background-color: #dadada;
        margin: 10px 0;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        color: #636363;
      }
    }
  }
}
//adaptive
.adaptive {
  width: 100%;
  height: fit-content;
  padding: 15px 24px;
  background-color: #0097db;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }
  .line {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 5px 0;
  }
  a {
    width: 100%;
    background-color: white;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border-radius: 32px;
    color: #333333;
    margin-top: 15px;
  }
}
