.wrapper {
  margin-top: 50px;
}

.consultation {
  position: relative;
  height: 45vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ratinov-clinic-401b0.appspot.com/o/images%2Fconsultation.svg?alt=media&token=f90529de-2f00-4f42-8dbd-513758882a63");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.wrap {
  position: relative;
  width: 75%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  top: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px;
  margin: 0 10% !important;


}

.b {
  font-weight: 500 !important;
}

.consul_des {
  margin-right: 15px;

  span {
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 400;
  }


}




.about {
  display: flex;
  flex-direction: column;
  grid-gap: 3em;
  height: 50vh;
  h1 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    text-transform: uppercase;
  }

  .about_card {
    display: flex;
    justify-content: space-between;

    .card {
      width: 30%;
      display: flex;
      grid-gap: 1.5em;
      flex-direction: column;
      img {
        width: 70px;
        height: 70px;
      }

      b {
        font-weight: 700;
      }
    }
  }
}