@media (max-width: 776px) {
  .wrapper {
    display: none !important;
  }
  .adapt {
    display: block !important;
  }
}
@media (min-width: 776px) {
  .adapt {
    display: none;
  }
}

.wrapper {
  margin-bottom: 40px;
  width: 100%;
  margin-left: 5px;
  h1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    color: #333333;
    margin-bottom: 40px;
    margin: 0;
    margin-top: 70px;
    text-transform: uppercase;
    a {
      text-transform: capitalize;
      color: #0097db;
      div {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #939393;
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;
        margin-right: 70px;
        img {
          position: absolute;
          right: -60px;
          transition: ease-in-out 0.3s;
          width: 40px;
        }
        &:hover {
          img {
            right: -70px;
          }
        }
      }
    }
  }
}
.card {
  width: 98% !important;
  img {
    width: 100%;
    height: 198px;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
  }
  p {
    border: 1px solid #939393;
    border-radius: 0px 0px 7px 7px;
    padding: 13px 131px;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #333333;
  }
}
.arrowL {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 99;
  left: -2%;
  top: 45%;
  cursor: pointer;
  &:hover {
    filter: brightness(1%);
  }
}
.arrowR {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 99;
  right: -2%;
  top: 45%;
  transform: rotate(180deg);
  cursor: pointer;
  &:hover {
    filter: brightness(1%);
  }
}

//adaptive

.adapt {
  padding-left: 25px;
  margin-bottom: 30px;
  overflow-x: hidden;
  h1 {
    width: 100%;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 40px;

    a {
      color: #0097db !important;
      display: flex;
      align-items: center;
      color: red;
      transition: ease-in-out 0.3s;
      gap: 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-top: 10px;
      
      img {
        width: 30px;
      }
    }
  }
  .adSlider {
    display: flex;
    overflow-x: scroll;
    gap: 24px;
  }
} 
