@import "../../styles/globalVariables";

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-top: 70px;
  color: #333333;
  margin-bottom: 20px;
  @include breackpoint(md) {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
  }
  span {
    font-size: xx-large;
    font-weight: 600;
  }
}
.wrapper {
  p {
    font-size: 14px;
  }
}

.bg {
  width: 700px;
  height: 800px;
  border-radius: 150px;
  transform: rotate(55deg);
  position: absolute;
  z-index: -1;
  right: -440px;
  top: 180px;
  overflow: hidden;

  img {
    height: 144%;
    width: 76%;
    object-fit: cover;
    transform: rotate(-40deg);
    position: absolute;
    left: 62px;
    top: 132px;
    filter: opacity(0.3);
  }
}

.bg_left {
  width: 700px;
  height: 1011px;
  border-radius: 276px;
  transform: rotate(23deg);
  position: absolute;
  z-index: -1;
  left: -160px;
  bottom: 1600px;
  overflow: hidden;

  img {
    height: 100%;
    width: 86%;
    object-fit: cover;
    transform: rotate(-31deg);
    position: absolute;
    left: 0px;
    top: 100px;
    filter: opacity(0.3);
    border-radius: 419px;
  }
}

.wrapper_bg {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  .linkk {
    width: 100%;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #0097db 1px solid;
    border-radius: 7px;
    color: #0097db;
    transition: ease-in-out 0.3s;
    margin-top: 40px;
    @include breackpoint(md){
      margin-left: 22px;
      margin-right: 24px;
      width: 88%;
    }
    &:hover {
      color: white;
      background: #0097db;
    }
  }
}

.therapies_types {
  width: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 15px 0 15px 20px;
  margin: 20px 0;
  @include breackpoint(md) {
    box-shadow: none;
  }
  h4 {
    @include breackpoint(md) {
      font-weight: 600;
      font-size: 16px !important;
      line-height: 20px !important;
      color: #ffffff !important;
      background-color: #0097db;
      padding: 15px 20px;
      border-radius: 7px;
      margin-right: 24px;
    }
  }

  .therapy_type {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
  }

  ul {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    padding-left: 20px;
    margin-top: 10px;
    @include breackpoint(md) {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
      margin-right: 20px;
      padding: 10px;
      padding-left: 25px;
    }
  }
}

.methods_right_block {
  width: 80%;
  margin-left: 334px;
  .therapies_types {
    width: 90%;
  }
}

.what_we_treat {
  margin-top: 100px;
  background-image: url("../../../public/images/treat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include breackpoint(md) {
    display: none;
  }
  .treat_center {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #333333;
      padding: 15px 0;
      background-color: white;
      border-radius: 7px;
      width: 88% !important;
      padding-left: 40px;
      margin-bottom: 11px !important;
      margin-top: 58px !important;
    }
  }
}

.treatment_wrapper {
  display: flex;
  gap: 11px;
  height: 500px;
}

.treatment_left {
  height: fit-content;
  background-color: #fff;
  padding: 20px 0 20px 20px;
  border-radius: 7px;
  width: 54%;
  ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #333333;
    margin-left: 10px;
  }
  h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 10px;
  }
}

.treatment_right {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  height: fit-content;
  .treatment_right_block {
    width: 49%;
    border-radius: 7px;
    background-color: #fff;
    padding: 20px 0 20px 20px;
    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
      margin-bottom: 10px;
    }
    ul {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #333333;
      margin-left: 10px;
    }
  }
}

.about_health {
  @include breackpoint(md){
    display: none;
  }
  h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 90px 0 40px 0;

    span {
      font-size: xx-large;
      font-weight: 600;
    }
  }

  p {
    margin-bottom: 40px;
  }
}

.shadowLine {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 1px;
  width: 100%;
  margin-bottom: 40px;
}

.wrapperItems {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
  flex-direction: column;
  @include breackpoint(md) {
    display: block;
    margin: 0 24px;
  }

  > div:nth-of-type(1)::before {
    content: "1";
  }

  > div:nth-of-type(2)::before {
    content: "2";
  }

  > div:nth-of-type(3)::before {
    content: "3";
  }

  .page_block {
    margin: 20px 0;
    background: white;
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px 15px 20px 50px;
    @include breackpoint(md) {
      width: 88%;
      margin-bottom: 40px;
    }
    &::before {
      width: 50px;
      height: 50px;
      left: -15px;
      top: -15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
      background: #e4f6ff;
      color: #0097db;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
    h5{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
      margin-bottom: 10px;
      @include breackpoint(md) {
        margin-top: 10px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #333333;
      @include breackpoint(md){}
    }
  }
}
