.callme_block {
  // height: 580px;
  margin-top: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 10 !important;
  .opacity {
    height: 100%;
    .wrapper {
      display: flex;
      grid-gap: 3em;
      width: 100%;
      display: flex;
      img {
        width: 55%;
        object-fit: cover;
      }
      .input_block {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        width: 45%;
        .title {
          font-weight: 600 !important;
          font-size: 30px !important;
          line-height: 37px !important;
          color: #333333 !important;
        }
        a {
          width: 75%;
          div {
            button {
              width: 100%;
            }
          }
        }
        grid-gap: 2em;
        flex-direction: column;
        .input {
          display: flex;
          flex-direction: column;
          grid-gap: 1em;
          font-weight: 400;

          p {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #6f6f6f;
          }

          input {
            font-size: 14px;
            line-height: 17px;
            width: 75%;
            height: 60px;
            border: none;
            border-radius: 10px;
            padding-left: 20px;
            color: #0097db;
            border: 1px solid #e2e2e2;
            border-radius: 7px;
          }
        }

        .input1 {
          display: flex;
          flex-direction: column;
          grid-gap: 1em;
          font-weight: 400;
          width: 100%;
          p {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #6f6f6f;
          }

          input {
            font-size: 14px;
            line-height: 17px;
            border: none;
            color: #0097db;
            width: 100%;
            border: 1px solid #e2e2e2;
            border-radius: 7px;
          }
        }

        .btn {
          background-color: #0097db;
          border: none;
          color: #fff;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          height: 60px;
          border-radius: 10px;
          width: 100%;
        }
      }
    }
  }
}
