.therap {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: -50px;
  .main_bg {
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    gap: 32px;
    img {
      width: 50%;
      height: 257px;
      object-fit: cover;
    }
    .mainRight {
      display: flex;
      flex-direction: column;
      width: 50%;
      h1 {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        margin-top: 28px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #6f6f6f;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      a {
        width: fit-content;
        border-radius: 7px;
        padding: 14px 27px;
        border: 1px solid #0097db;
        color: #0097db;
        transition: ease-in-out 0.3s;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #0097db;
        &:hover {
          color: white;
          background-color: #0097db;
        }
      }
    }
  }
}

.main {
  padding: 0px 0 30px 0;
  div {
    a {
      width: 100%;
      border-radius: 7px;
      padding: 14px 27px;
      border: 1px solid #0097db;
      color: #0097db;
      transition: ease-in-out 0.3s;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #0097db;
      text-align: center;
      margin: 30px 0;
      &:hover {
        color: white;
        background-color: #0097db;
      }
    }
  }
}

.renderItem {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin: 0px 0 15px 0;
  }
  ul {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
  }
}
