.wrapper {
  background: #0097db;
  width: 100%;
  padding: 20px;

  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  span {
    margin-right: 10px;
    margin-left: 0;
  }
}

.path {
  color: #939393;
  padding: 44px 0;
  line-height: 17px;
}
