// header styles start
$font-stack: Montserrat, sans-serif;
$color-links: #000000;

header{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header-top-left a,
.header-top-right a {
  font-family: 100% $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}
.header-top-left a {
  color: #636363;
  margin: 0 10px 0 20px;
}
.header-top-right {
  display: flex;
  align-items: center;
  a {
    color: $color-links;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-top: 7px;
    img {
      margin-right: 10px;
    }
  }
}
.header-bottom-left {
  display: flex;
  align-items: center;
  a {
    font-family: 100% $font-stack;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-links;
    text-decoration: none;
    margin-right: 35px;
  }
  a img {
    margin-left: 10px;
  }
}
.header-bottom-right {
  display: flex;
  button {
    font-family: 100% $font-stack;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color-links;
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #0097db;
    border-radius: 10px;
    padding: 15px 30px;
    margin-left: 30px;
  }
  button:hover {
    background: #0097db;
    border: 1px solid #008dd1;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  
}
// header styles end
