.btn {
  outline: none;
  border: none;
  background: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn-big-bg {
  font-size: 16px;
  color: white;
  border-radius: 10px;
  padding: 20px 55px;
  background: #0097db;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #008dd1;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    background: #0083c7;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    background: #c4c4c4;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
  }
}

.btn-small {
  color: black;
  border: 1px solid #0097db;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 20px;

  &:hover {
    color: white;
    background: #0097db;
    border: 1px solid #008dd1;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    color: white;
    background: #0083c7;
    border: 1px solid #0083c7;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background: none;
    box-shadow: none;
    cursor: not-allowed;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
  }
}

.btn-radius-bg {
  background: #0097db;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  padding: 10px 22px;
  border: 1px solid #0097db;

  &:focus {
    border: 1px solid #0097db;
    background: none;
    color: black;
  }

  &:disabled {
    border: 1px solid #0097db;
    background: none;
    color: black;
    cursor: not-allowed;
  }
}

.btn-radius {
  border-radius: 25px;
  font-size: 14px;
  color: black;
  padding: 10px 22px;
  border: 1px solid #0097db;

  &:hover {
    background: #e3f4fb;
  }

  &:focus {
    border: 1px solid #0097db;
    background: rgba(0, 151, 219, 0.2);
  }

  &:disabled {
    border: 1px solid #0097db;
    background: #0097db;
    color: white;
    cursor: not-allowed;
  }
}

.btn-radius_dis {
  border-radius: 25px;
  font-size: 14px;
  color: black;
  padding: 10px 22px;
  border: 1px solid #0097db;

  &:disabled {
    cursor: not-allowed;
    color: #c4c4c4;
    background: none;
    border: 1px solid #c4c4c4;
  }
}

.btn-watch {
  color: #0097db;
  display: flex;
  align-items: center;

  &::before {
    content: url(../../public/images/watch-blue.svg);
    border: #0097db 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 34px;
    margin-right: 7px;
    padding-left: 2px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    &::before {
      content: url(../../public/images/watch-white.svg);
      background: #0097db;
    }
  }

  &:focus {
    &::before {
      content: url(../../public/images/watch-white.svg);
      background: #0097db;
    }
  }

  &:disabled {
    color: #c4c4c4;
    cursor: not-allowed;

    &::before {
      content: url(../../public/images/watch-disabled.svg);
      background: none;
      border: 1px solid #c4c4c4;
    }
  }
}

.checkbox {
  font-size: 14px;
  display: flex;
  align-items: center;
  grid-gap: 14px;
  transition: 0.3s;

  input {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    z-index: 2;

    &:hover {
      &::before {
        content: '';
        border-radius: 2px;
        width: 11px;
        height: 11px;
        position: absolute;
        border: 2px solid #008dd1;
        outline: none;
        background: #e3f4fb;
        z-index: 1;
      }
    }

    &:checked {
      &::before {
        content: none;
      }
    }

    &:disabled {
      cursor: not-allowed;

      &::before {
        content: none;
      }

      + p {
        color: #c4c4c4;
      }
    }
  }
}

.select_wrapper {
  width: 240px;

  .select {
    width: 100%;
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    color: #0097db;
    cursor: pointer;
    border-top: 2px solid #0097db;

    img {
      transform: scale(1, -1);
      transition: 0.5s;

      &.active {
        transform: scale(1);
      }
    }
  }

  .checkboxs {
    transition: 0.3s;
    height: 0px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 15px;

    &.active {
      height: 100%;
      opacity: 1;
    }
  }
}

.main_slider {
  .slick-disabled.slick-disabled {
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(83%) contrast(94%);
    cursor: not-allowed;
  }

  .slick-dots {
    .slick-active span {
      background: #0097DB;
      border-color: #0097DB;
    }
  }

  .slick-dots.slick-dots {
    position: relative;

    .slick-active {
      button::before {
        color: #0097db;
      }
    }
  }

  .slick-arrow {
    width: 15px;
    height: 15px;
    transform: 0.3s;
  }

  .slick-prev {
    transform: scale(-1, 1);
    top: 35%;
    left: -50px;
  }

  .slick-next {
    top: 35%;
    right: -50px;
  }
}

.youtube_slider {
  margin-bottom: 60px;

  .slick-dots {
    .slick-active span {
      background: black;
    }
  }

  .slick-arrow.slick-arrow {
    width: 13px;
    height: 13px;
  }

  .slick-prev {
    transform: scale(-1, 1) !important;
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }

  .slick-disabled.slick-disabled {
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(83%) contrast(94%);
  }

  .slick-track {
    display: flex;

    .slick-slide {
      margin: 0 14px;
      width: fit-content !important;
      z-index: -1;
      filter: blur(5px);
      font-weight: 600;
    }

    .slick-current+div {
      font-weight: 500;
      filter: blur(0px);
      transform: scale(1.4);
      position: relative !important;
      left: -80px;
      z-index: 1;

      +div {
        font-weight: 500;
        filter: blur(0px);
        transform: scale(1.4);
        z-index: 1;

        +div {
          font-weight: 500;
          filter: blur(0px);
          transform: scale(1.4);
          position: relative !important;
          right: -80px;
          z-index: 1;
        }
      }


    }
  }
}

.result_slider {
  .slick-dots.slick-dots {
    position: relative;
    margin-top: 10px;
    .slick-active {
      button::before {
        color: #636363;
      }
    }
  }
  .slick-dots {
    text-align: left !important;
    margin: 0 0 0 133px;
  }
  .slick-arrow {
    width: 10px;
    height: 16px;
    transform: 0.3s;
  }
  .slick-prev {
    top: 45%;
    left: -50px;
  }
  .slick-next {
    top: 45%;
    left: 39%;
  }
  .slick-disabled {
    opacity: 0;
    cursor: default;
  }
}
