.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
  width: 100%;
  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    p {
      a {
        div {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #939393;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          margin-right: 72px;
          img {
            position: absolute;
            right: -60px;
            transition: ease-in-out 0.3s;
          }
          &:hover {
            img {
              right: -70px;
            }
          }
        }
      }
    }
  }

  a {
    width: 100%;
  }
}

.arrowL {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 100;
  left: -2%;
  top: 45%;
  cursor: pointer;
  &:hover{
    filter: brightness(1%); 
  }
}

.arrowR {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 100;
  right: -2%;
  top: 45%;
  transform: rotate(180deg);
  cursor: pointer;
  &:hover{
    filter: brightness(1%); 
  }
}
