@media (max-width: 776px) {
  .wrapper {
    display: none !important;
  }
  .adapt {
    display: block !important;
  }
}
@media (min-width: 776px) {
  .adapt {
    display: none;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
  width: 100%;
  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 32px;
    text-transform: uppercase;
    p {
      a {
        text-transform: capitalize;
        div {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #939393;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          margin-right: 80px;
          img {
            position: absolute;
            right: -60px;
            transition: ease-in-out 0.3s;
            width: 40px;
          }
          &:hover {
            img {
              right: -70px;
            }
          }
        }
      }
    }
  }

  a {
    width: 100%;
  }
}

.arrowL {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 99;
  left: -2%;
  top: 45%;
  cursor: pointer;
  &:hover {
    filter: brightness(1%);
  }
}

.arrowR {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 99;
  right: -2%;
  top: 45%;
  transform: rotate(180deg);
  cursor: pointer;
  &:hover {
    filter: brightness(1%);
  }
}

///Adaptive
///
.adapt {
  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-left: 24px;
    
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #939393;
      display: flex;
      align-items: center;
      margin-top: 10px;
      img {
        transition: ease-in-out 0.3s;
        width: 30px;
        margin-left: 10px;
      }
    }
  }
  .slider{
    display: flex;
    overflow-x: scroll;
  }
}
