.left {
  position: absolute;
  width: 600px;
  display: flex;
  flex-direction: column;
  background: white;
  top: 210px;
  z-index: 100;
  .line {
    width: 75%;
    height: 1px;
    background-color: #c4c4c4;
    margin: 10px 0;
  }
  > h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
  }
  span {
    transition: 0.4s ease-in-out !important;
    display: flex;
    align-items: center;
    width: fit-content;

    p:hover {
      transition: 0.3s ease-in-out !important;
      margin-right: 5px;
    }
    img:hover {
      transition: 0.3s ease-in-out !important;
      margin-left: 15px !important;
    }
  }
  > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #4a4a4a;
    width: 70%;
    margin: 0;
  }

  > span {
    font-size: 13px;
    cursor: pointer;
    color: #0097db;
  }

  .btns {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    width: 75%;
    margin-top: 3px;
    justify-content: space-between;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: #ffffff;
      border: 1px solid #0097db;
      border-radius: 7px;
      padding: 16px 26px;
      cursor: pointer !important;
      transition: 0.3s ease-in-out;
      color: #0097db;
      width: 50%;
      &:hover {
        background-color: #0097db;
        color: white;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        .play {
          border-color: transparent transparent transparent #ffffff;
        }
      }
      .play {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8.5px 0 8.5px 14px;
        border-color: transparent transparent transparent #0097db;
        transition: 0.3s ease-in-out;
        margin-left: 12px;
      }
      p {
        margin: 0;
        padding: 0;
        width: 150px;
      }
    }
  }
}

.wrapper {
  margin-top: 69px !important;
  margin-bottom: 53px !important;
}

.card {
  width: 45%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  height: 260px;
}

.dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  border: 1px solid #333333;
  transition: 0.15s;
  position: absolute;
  right: -1530%;
  bottom: 45px;
  &:hover {
    background: #333333;
    border-color: #333333;
  }
}
