// header styles start
$font-weight: 400;
$black: #000000;
$white: #ffffff;

@mixin fonts($font-weight) {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  text-decoration: none;
}

header {
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
}
.headerResult {
  position: static;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.logo {
  position: relative;
  left: -15px;
}

.headerTop,
.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .select {
    cursor: pointer;
    span{
      img{
        padding: 0px 0px 3px 2px;
      }
    }
    div {
      position: absolute;
      background: #ffffff;
      padding: 20px 40px;
      margin-left: -20px;
      margin-top: 5px;
      z-index: 999;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 32px;
      display: flex;
      flex-direction: column;

      a {
        padding: 5px;
        transition: ease-in-out 0.4s;
       
      }

      :hover {
        color: #0097db;
      }
    }
  }
}

.headerTopLeft a,
.headerTopRight a,
span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #636363;
}

.headerBottomLeft {
  display: flex;
  align-items: center;
  width: 60%;
  img {
    width: 100%;
    height: 30%;
  }
  .nav {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  span {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    > img {
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(254deg)
        brightness(96%) contrast(103%);
      transform: rotate(90deg);
      width: 15px;
      height: 15px;
    }
  }

  a,
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
  }

  > a:nth-of-type(1) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.headerBottomRight {
  display: flex;
  gap: 30px;
  .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    padding: 14px 15px;
    border: 1px solid #0097db;
    border-radius: 32px;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #0097db;
      color: #ffffff;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    }
  }
}

// @media (max-width: 1200px) {
//   .headerTopLeft a,
//   .headerTopRight a {
//     @include fonts($font-weight);
//     font-size: 12px;
//     line-height: 20px;
//   }

//   .headerBottomRight {
//     a {
//       font-weight: 400;
//       font-size: 12px;
//       line-height: 15px;
//       color: red;
//     }
//   }

//   .headerBottomLeft {
//     a,
//     span {
//       font-size: 16px;
//       margin-right: 25px;
//     }
//   }
// }

// @media (max-width: 996px) {
//   header {
//     height: 230px;
//   }

//   .headerTopLeft a,
//   .headerTopRight a {
//     @include fonts($font-weight);
//     font-size: 14px;
//     line-height: 20px;
//   }

//   .headerBottomLeft {
//     a,
//     span {
//       font-size: 13px;
//       margin-right: 35px;
//     }
//   }

//   .headerTop {
//     justify-content: space-around;
//     height: 50px;
//     flex-direction: column;
//   }

//   .headerBottom {
//     display: flex;
//     flex-direction: column;
//     height: 50px;
//   }
// }

// @media (max-width: 768px) {
//   .headerTop {
//     flex-direction: column;
//   }
// }

// header styles end

//Adilxa
.headerTopRight {
  display: flex;
  align-items: center;
  gap: 30px;
  a {
    color: #0097db;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #0097db;
  }
}

.line {
  height: 1px;
  width: 100%;
  background: #ededed;
}

.headerBottom {
  height: 90px;
}

.headerTop {
  padding-top: 20px;
  padding-bottom: 15px;
}
