// header styles start
$font-weight: 400;
$black: #000000;
$white: #ffffff;

@mixin fonts($font-weight) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  text-decoration: none;
}

header {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.logo {
  position: relative;
  left: -15px;
}

.headerTop,
.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.headerTopLeft a,
.headerTopRight a,
span {
  @include fonts($font-weight);
  font-size: 15px;
  line-height: 18px;
}

.headerTopLeft a {
  color: #636363;
  margin: 0 20px 0 0;
}

.headerTopRight {
  display: flex;
  align-items: center;

  a,
  span {
    color: $black;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-top: 7px;

    img {
      margin-right: 10px;
    }
  }
}

.headerBottomLeft {
  display: flex;
  align-items: center;
  width: 60%;

  .nav {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  span {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    >img {
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(96%) contrast(103%);
      transform: rotate(90deg);
      width: 15px;
      height: 15px;
    }
  }

  a,
  span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black;
  }


  >a:nth-of-type(1) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.headerBottomRight {
  display: flex;
  grid-gap: 30px;
}

@media (max-width: 1200px) {

  .headerTopLeft a,
  .headerTopRight a {
    @include fonts($font-weight);
    font-size: 12px;
    line-height: 20px;
  }

  .headerBottomRight {
    button {
      padding: 7px 43px;
      margin-left: 10px;
      width: 100%;
    }
  }

  .headerBottomLeft {

    a,
    span {
      font-size: 16px;
      margin-right: 25px;
    }
  }
}

@media (max-width: 996px) {
  header {
    height: 230px;
  }

  .headerTopLeft a,
  .headerTopRight a {
    @include fonts($font-weight);
    font-size: 14px;
    line-height: 20px;
  }

  .headerBottomLeft {

    a,
    span {
      font-size: 13px;
      margin-right: 35px;
    }
  }

  .headerTop {
    justify-content: space-around;
    height: 50px;
    flex-direction: column;
  }

  .headerBottom {
    display: flex;
    flex-direction: column;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .headerTop {
    flex-direction: column;
  }
}

// header styles end