// header styles start
$font-family: Montserrat, sans-serif;
$font-weight: 400;
$black: #000000;
$white: #ffffff;

@mixin fonts($font-family, $font-weight) {
  font-family: 100% $font-family;
  font-style: normal;
  font-weight: $font-weight;
  text-decoration: none;
}

header {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.headerTop,
.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.headerTopLeft a,
.headerTopRight a {
  @include fonts($font-family, $font-weight);
  font-size: 15px;
  line-height: 18px;
}
.headerTopLeft a {
  color: #636363;
  margin: 0 10px 0 20px;
}
.headerTopRight {
  display: flex;
  align-items: center;
  a {
    color: $black;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-top: 7px;
    img {
      margin-right: 10px;
    }
  }
}
.headerBottomLeft {
  display: flex;
  align-items: center;
  a {
    font-family: 100% $font-family;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin-right: 35px;
  }
  a img {
    margin-left: 10px;
  }
}
.headerBottomRight {
  display: flex;
  button {
    @include fonts($font-family, $font-weight);
    font-size: 14px;
    line-height: 17px;
    color: $black;
    background: $white;
    cursor: pointer;
    border: 1px solid #0097db;
    border-radius: 10px;
    padding: 15px 30px;
    margin-left: 30px;
  }
  button:hover {
    background: #0097db;
    border: 1px solid #008dd1;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.2);
    color: $white;
  }
}
// header styles end
