@media (max-width: 776px) {
  .comment_block {
    display: none !important;
  }
}
@media (min-width: 776px) {
  .comment_block {
    display: block !important;
  }
}

.comment_block {
  padding: 40px 0 0 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-size: contain;
  margin-bottom: 50px;
  transition: ease 0.3s;
  .bg_block {
    z-index: -1;
    width: 1500px;
    height: 1080px;
    position: absolute;
    left: -270px;
    bottom: -570px;
    border-radius: 189px;
    transform: matrix(0.97, -0.23, 0.24, 0.97, 0, 0);
    overflow: hidden;

    img {
      transform: rotate(13.6deg);
      position: absolute;
      top: -110px;
      right: -120px;
      z-index: -3;
    }

    .color_block {
      width: 100%;
      height: 100%;
      background-color: #0096db98;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 3em;

    .title {
      margin: 0;
      h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 37px;
        color: #333333;
        text-transform: uppercase;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        p {
          a {
            div {
              font-weight: 600 !important;
              font-size: 18px;
              line-height: 22px;
              color: #939393;
              display: flex;
              align-items: center;
              gap: 10px;
              position: relative;
              margin-right: 70px;
              img {
                position: absolute;
                right: -60px;
                transition: ease-in-out 0.3s;
                width: 40px;
              }
              &:hover {
                img {
                  right: -70px;
                }
              }
            }
          }
        }
      }
    }

    .comment {
      display: flex;
      flex-wrap: wrap;
      .card {
        margin: 50px 6px 0 6px;
        background-color: #fff;
        border-radius: 10px;
        height: 350px;
        width: 360px;
        padding: 25px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        grid-gap: 1em;

        .top_block {
          display: flex;
          grid-gap: 1em;

          img {
            border-radius: 10px;
          }

          .name {
            display: flex;
            flex-direction: column;
            grid-gap: 0.6em;
            h3 {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: #0097db;
            }
          }
        }

        .des {
          display: flex;
          grid-gap: 0.5em;
          align-items: flex-start;

          img {
            width: 33px;
          }

          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
          }
        }
      }
    }
    .card {
      margin: 0px 6px 0 6px;
      background-color: #fff;
      border-radius: 10px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      grid-gap: 1em;
      border: 1px solid #6f6f6f;
      border-radius: 7px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
      border-radius: 7px;

      .top_block {
        display: flex;
        grid-gap: 1em;
        .user {
          width: 50px;
          height: 100%;
          border-radius: 50%;
        }
        img {
          border-radius: 10px;
          width: 50px;
          height: 50px;
        }

        .name {
          display: flex;
          flex-direction: column;
          grid-gap: 0.6em;
          transition: ease 0.3s;
          h3 {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
          }
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #0097db;
          }
        }
      }

      .des {
        grid-gap: 0.5em;
        transition: ease 0.3s;
        img {
          width: 33px;
        }
        span,
        div {
          cursor: pointer;
          font-weight: 700;
          color: #000000;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #6f6f6f;
          height: fit-content;
          transition: ease 0.3s;
          height: 70px;
        }
        .nonAc {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #6f6f6f;
          height: fit-content;
          transition: ease 0.3s;
        }
        h1 {
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          color: #333333;
        }
      }
    }
  }
}

.arrowL {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 100;
  left: -2%;
  top: 45%;
  cursor: pointer;
  &:hover {
    filter: brightness(1%);
  }
}

.arrowR {
  width: 13px;
  height: 26px;
  position: absolute;
  z-index: 100;
  right: -2%;
  top: 45%;
  transform: rotate(180deg);
  cursor: pointer;
  &:hover {
    filter: brightness(1%);
  }
}


.line{
  width: 100%;
  height: 1px;
  background: #DADADA;
}