.result__wrapper {
  display: flex;
  flex-direction: column;

  .title {
    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      color: #333333;
      margin: 40px 0;
    }
  }

  .btn__group {
    display: flex;
    grid-gap: 0.5em;
    margin-bottom: 40px;
    button {
      width: 196px;
      border-radius: 7px;
      color: #0097db;
      &:hover {
        color: white;
      }
    }
    .btnActive {
      background: #0097db;
      color: white;
    }
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 32px;
    margin-bottom: 50px;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 31%;
      height: fit-content;
      border-radius: 7px;
      border: 1px solid #bab5b5;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
      cursor: pointer;
      img {
        height: 202px;
        width: 100%;
        object-fit: cover;
        border-radius: 7px 7px 0px 0px;
      }
      p {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        color: #000000;
        margin: 13px 0;
      }
    }
    .cardModal {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 55%;
      height: 100%;
      height: fit-content;
      border-radius: 7px;
      border: 1px solid #bab5b5;

      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
      cursor: pointer;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 7px 7px 0px 0px;
        height: 350px;
      }
      p {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        color: #000000;
        margin: 13px 0;
      }
    }

    .modal__content {
      padding: 79px 41px 96px 105px;
      border-radius: 7px;
      display: flex;
      grid-gap: 6em;
      width: 80%;
      height: fit-content;
      background-color: white;
      transform: scale(1.2);
      transition: all 0.4s;
      height: fit-content;
      position: relative;
      .x {
        position: absolute;
        top: 30px;
        right: 41px;
        cursor: pointer;
        font-size: 20px;
        color: #bab5b5;
        transition: all 0.4s;
        &:hover {
          color: #000000;
        }
      }
      .modalRight__block {
        display: flex;
        flex-direction: column;
        width: 80%;
        border-left: 1px solid #dadada;
        padding-left: 40px;
        h4 {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: #333333;
          margin-bottom: 10px;
          padding: 0;
        }
        ul {
          padding: 0;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          color: #333333;
          margin-left: 25px;
        }
      }
    }
  }

  //modal
  .active {
    z-index: 2;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
    overflow: hidden;
  }

  .modal {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
