.wrapper {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/ratinov-clinic-401b0.appspot.com/o/images%2FBackground.png?alt=media&token=1b4aa1d6-7d22-4708-8e19-63c694456770);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
  .cards {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    .card {
      width: 34%;
      color: white;
      margin: 25px 50px 25px 0;
      h1 {
        margin: 0;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #ffffff;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #ffffff;
      }
    }
  }
}
