@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.adaptiveBlockForMB {
  display: none;
}
